html,
body,
div,
p {
    margin: 0;
    padding: 0
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }

h1 {
    left-margin: 10px font-weight: normal;
    text-align: left;
    color: #131919
}


/*
h2 {
    font-weight: normal;
    color: #fcfff5
}

img {
    border: 0
}
*/
body {
   font-family:"Helvetica Neue","Arial",sans-serif;
    overflow: hidden;

}


.ct-container {
    background: #C1E1ED;
    border: 1px solid #131919;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    margin: 1px auto 2px;
    width: 320px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 22px;
    margin: auto
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #273D3B;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: #ECF0F1;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #273D3B;
}

input:focus+.slider {
    box-shadow: 0 0 1px #273D3B;
}

input:checked+.slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

h2 {
    display: inline;
}

#toggle {
    margin: auto;
    width: 50%;
}


/* delete the outline of the HTML textbox*/

input {
    border: none;
    background: transparent;
    resize: vertical;
    width: 200px;
}

input:active {
    width: auto;
}

input:focus {
    min-width: 200px;
}

#contentBox {
    margin: 6px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

#contentBox>div {
    word-wrap: break-word;
    padding:4px;
    font-size:14px;
    background: #76C7C6;
    margin-bottom: 1px;
    font-color: #131919;
}

#title {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#complete_citation {
    border-bottom-left-radius: 3px;
    border-top-bottom-radius: 3px;
}

#toggle {
    display: inline-block;
}