html,
body,
div,
p {
    margin: 0;
    padding: 0
}

h1 {
    font-weight: heavy;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 1px;
    text-align: left;
    color: #131919

}

button{
    display:inline-block;
}


h2 {
    font-weight: normal;
    color: #fcfff5;
    display: inline;
}
.button {
    background-color: #00CED; /* Green */
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #000000;
}

.button:hover {
    background-color: #3b444b;
    color: white;
}


img {
    border: 0
}

body {
   font-family:"Helvetica Neue","Arial",sans-serif;
    overflow: hidden;

}

.ct-container {
    background: #C1E1ED;
    border: 1px solid #131919;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    margin: 1px auto 2px;
    width: 320px;
}
h1,copy{
display: inline;
}

#copy{
margin-left: 20px;
margin-bottom: 10px;
width: 70px;
height: 70px;
text-align: center;
}

/* delete the outline of the HTML textbox*/

input {
    border: none;
    background: transparent;
    resize: vertical;
    width: 200px;
}

#contentBox {
    margin: 6px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}
#MLA {
display: inline-block;
}
#APA {
display: inline-block;
}

#contentBox>div {
    word-wrap: break-word;
    padding:4px;
    font-size:14px;
    background: #76C7C6;
    margin-bottom: 1px;
    font-color: #131919;
}

#title {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#complete_citation {
    border-bottom-left-radius: 3px;
    border-top-bottom-radius: 3px;
}

#toggle {
    display: inline-block;
}