html, body, div, p {
    margin: 0;
    padding: 0
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }

h1 {
    left-margin: 10px
    font-weight: normal;
    text-align: left;
    color: #fcfff5
}

h2 {
    font-weight: normal;
    color: #fcfff5
}

img {
    border: 0
}

body {
    font-family: "Helvetica Neue",  sans-serif;
    width: auto;
    height: auto;
    background-color: #3e606f;
    overflow: hidden;
    padding: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 22px;
    margin: auto
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #193441;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: #ECF0F1;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #193441;
}

input:focus+.slider {
    box-shadow: 0 0 1px #193441;
}

input:checked+.slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

h2 {
    display: inline;
}
#toggle {
  margin: auto;
width: 50%;


}

/* delete the outline of the HTML textbox*/
input {
    border: none;
    background: transparent;
    resize: vertical;
       width: 200px;
}
input:active {
      width: auto;
  }
  input:focus {
       min-width: 200px;
   }

#contentBox>div {
    background: #FCFFF5;
    margin-bottom: 7px;
    padding: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    border-radius: 3px;


}
